@model List<ExerciseViewModel>

@{
    ViewBag.Title = Strings.AthleteExercises;
}

<table class="table table-striped table-bordered table-hover" id="athletes-statistics-table">
    <thead>
        <tr>
            <th></th>
            <th>@Strings.Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exerciseViewModel in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ExerciseGraph", new { athleteId = ViewBag.AthleteId, exerciseId = exerciseViewModel.Id })">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="sr-only">View</span>
                    </a>
                </td>
                <td>@exerciseViewModel.Name</td>
            </tr>
        }
    </tbody>
</table>

